<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>${node.title}</title>
        <!-- stylesheets -->
<%
context.document.resources
.findAll { it.type == org.supermmx.asciidog.ast.Resource.Type.STYLESHEET }
.each { res ->
%>
        <link rel="stylesheet" href="${res.destPath}" type="text/css" />
<%
}
%>
    </head>
    <body>
<%
if (node.type == org.supermmx.asciidog.ast.Node.Type.DOCUMENT && node.attrs?.doctype == org.supermmx.asciidog.ast.Document.DocType.book.toString()) {
%>
      <div class="title-center">
        <h1 class="center">${node.title}</h1>
<%
      def authorAttr = context.document.attrs.getAttribute('author_1')
      def author = authorAttr ? authorAttr.valueString : null
      if (author != null) {
%>
        <span class="center">${author}</span>
<%
      }
%>
      </div>
<%
}
%>
