.center {
    text-align: center;
}

.title-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.red {
    color: red;
}
